@charset "UTF-8";
/***** reset *****/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, legend, button, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
  /*/font-family: courier new, courier, monospace;*/
}

del, ins {
  text-decoration: none;
}

small {
  font-size: 12px;
}

ol, ul {
  list-style: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

input, textarea {
  outline: none;
}

input, button, textarea, select {
  font-size: 100%;
  *font-size: 100%;
}

input, textarea {
  outline: none;
  padding-left: 5px;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

a, img {
  -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

a {
  color: #000;
  text-decoration: none;

  /* 取消a标签点击后的虚线框 */
  outline: none;
}

a:active, a:hover {
  /* 重置链接a标签的鼠标滑动效果 */
  text-decoration: none;
}

a:active {
  star: expression(this.onFocus=this.blur());
}

body {
  -webkit-overflow-scrolling: touch; /*流畅滚动*/
}

body, div, button, input, select, textarea, address, caption, cite, code, dfn, em, th, var, optgroup {
  /*font: 12px/1.5 tahoma, arial, \5b8b\4f53; 天猫*/
  /*font-family: sans-serif; bootstrap.min.css*/
  /*font-family : Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif !important;*/
  font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif; /*长虹*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html, body {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  -webkit-text-size-adjust: none;
}

/***** reset *****/

/***** placeholder颜色重置 *****/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #8f8f95;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #8f8f95;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #8f8f95;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #8f8f95;
}

/***** placeholder颜色重置 *****/

/*html5日期控件设置*/
input[type="date"], input[type="time"], input[type="week"], input[type="month"], input[type="datetime"], input[type="datetime-local"] {
  align-items: center;
  overflow: hidden;
  padding: 0px;
  color: inherit;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button, input[type="month"]::-webkit-clear-button, input[type="datetime"]::-webkit-clear-button, input[type="datetime-local"]::-webkit-clear-button, input[type="time"]::-webkit-clear-button {
  display: none;
}

/*html5日期控件设置*/

/*去掉input下面的箭头*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important; /*谷歌*/
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /*火狐*/
}

/***** layout *****/
body {
  background: $body-bgColor;
}

.bm-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-Height;
}

.bm-content {
  position: relative;
  top: $header-Height;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  //overflow: hidden;
}

.bm-content-main {
  width: 100%;
  height: 100%;
}

.bm-noHeader {
  top: 0;
  bottom: $footer-Height;
}

.bm-hasScroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/***** layout *****/

/***** webkit-box *****/
.bm-box {
  /*伸缩盒 旧*/
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */

  /*伸缩盒 新*/
  display: flex; /* IE 11+, Firefox 22+, Chrome 29+, Safari 9.0+, Opera 17+, iOS Safari 9.0+, Android 4.4+, Android Chrome 28+ */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, Opera 15.0+, iOS Safari 7+, Android Chrome20.0 */
  display: -moz-flex; /* Firefox 18+ */

  display: -ms-flexbox; /* IE 10 */
}

/* 水平排列 */
.bm-box-horizontal {
  /*子元素从左到右水平排列 旧*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;

  /*横向从左到右排列（左对齐）新*/
  -webkit-flex-direction: row;
  flex-direction: row;
  /*flex容器为单行 新*/
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* 垂直排列 */
.bm-box-vertical {
  /*元素从上到下纵向排列 旧*/
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;

  /*纵向从上往下排列（顶对齐）新*/
  -webkit-flex-direction: column;
  flex-direction: column;
  /*flex容器为单行 新*/
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* 水平和垂直方向都居中 */
.bm-box-align-center {
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

/* 垂直方向都居中 */
.bm-box-vertical-center {
  -moz-box-align: center;
  -webkit-box-align: center;
}

/* 水平方向都居中 */
.bm-box-horizontal-center {
  -moz-box-pack: center;
  -webkit-box-pack: center;
}

/* 水平右对齐 */
.bm-box-align-right {
  -moz-box-pack: end;
  -webkit-box-pack: end;
}

/* 水平左对齐 */
.bm-box-align-left {
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
}

/* 子元素是否可伸缩其尺寸 */
.bm-flex {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 1;
  -webkit-box-flex: 1;

  -webkit-flex: 1;
  flex: 1;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.bm-flex-2 {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 2;
  -webkit-box-flex: 2;

  -webkit-flex: 2;
  flex: 2;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

.bm-flex-3 {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 3;
  -webkit-box-flex: 3;

  -webkit-flex: 3;
  flex: 3;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.bm-flex-4 {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 4;
  -webkit-box-flex: 4;

  -webkit-flex: 4;
  flex: 4;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 4;
  flex-grow: 4;
}

.bm-flex-5 {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 5;
  -webkit-box-flex: 5;

  -webkit-flex: 5;
  flex: 5;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 5;
  flex-grow: 5;
}

.bm-flex-6 {
  /*分配其父元素剩余空间的比例 旧*/
  -moz-box-flex: 6;
  -webkit-box-flex: 6;

  -webkit-flex: 6;
  flex: 6;

  /*设置或检索弹性盒的扩展比率 新*/
  -webkit-flex-grow: 6;
  flex-grow: 6;
}

/***** webkit-box *****/

/***** box-sizing *****/
.bm-box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/***** box-sizing *****/

/***** 统一关闭按钮 *****/
.bm-btnClose {
  display: inline-block;
  width: 73px;
  height: 73px;
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAIFElEQVRoQ91ae0xU6RX/HQYG5FHCSyTALHSVQKLG1meJqTibbBrjI8ZHpEYjGzc4HRx8pFUk0YwJSGoEQWcYdLT4KEZ8JTamWTarpoauotYa/QOVNBYFFh/FBQoKy3zNuXuHjOM87h2Qln4JyTDz3e+c373n8TvnXMI4XzTO9ceoABBCTAAwA8DPAfwUgA5AHAD+nlc/gNcAWgH8A8A9/iMi/n5EK2AAQgi+9hcAlgD4JYBQlZq8A/AXAH8C8C0RCZXXS9sDAiCE0APYCCCDD3E4HLhz5w6uXr2Ku3fv4vHjx3j+/Dn6+vokIeHh4UhJScGUKVMwa9YsLFy4ELNnz0ZQUJBT58cAjhDRdbUgVAEQQqQAKAIwlwW1tbWhuroap06dQmsrW4fypdPpsG7dOhgMBiQnJzsvvAVgHxE9V3qSYgBCiM8BFAOIePXqFcxmM+x2O96+fatUlsd9YWFh2LhxI/bs2YP4+Hje828AJUTUoORgvwBkWzcA+IIPPH/+PDZt2oTXr9knR2/FxcXBZrNh5cqVzkOPA6j25xs+AcjK/xbAarbzLVu24NChQ6OntYeTCgoKUFFRgeDgYP71omxSXh3cH4ACABv6+/uxZs0aXL58+aMq7zx88eLFOHv2rOT8AGqJ6LA3wV4ByDZfynd++fLlY6a8U9GlS5fi0qVLzkhVTERfeQLhEYAcbf7IDltYWIiqqqoxufPuQkwmEyorK/lrjse/9hSdvAGwcKg8d+4cVq9e/V9R3im0vr4eq1at4n9vEZHRXZkPAMhJ6vccZbKysvDy5cuPCUADYMiXgNjYWDQ3NyMhIYG3/Y6Irrrufw+AHHXYdDI2b96Mw4e9+s5ogArLycnRNTY2vhwcHOzydSCHbU6YAJ7IpjQcldwBMLc5xFl18uTJGBwcVKJohJx8lOx17tEuWbIkrbS0VHPjxg0YjcYXQgiviSUkJAQtLS3g7A3ARER/dR7kDqAUwOe7du3Cvn37/Cqk1WpjTCbTpGPHjnV1dXV1AlBCyDR6vT7t4MGDWuZCJSUlQ2fOnPknACZ3XldRURFKS1k9NBDRrg8AyJT4G4fDoU1LS8OzZ8/8AdDMnz//U6vVquG9BoOht7W1tY25nY8LNTNmzEi12+0TmEIcP37cUV5eziTKL61OTU3F06dPOawOAPjMScWHn4AQQjKfpqYmzJ0rcTUlK3TRokW6kpKS4N7eXphMprf37t1j5D94uJjS09N1J0+eDI+JiWFKIsxmc5sQokeJICkM3bqFOXPm8MfNRPQtf3AFwCEqr6ysDPy4lC4iCsnOztaVl5drOf0XFRUNNjQ0MIj3TCIpKSn59OnTP0lMTMS1a9eYlnQMDQ29USqH97FZ79y5kz/+gYg41L8HoJwLE465TNhULk1WVlZqdXX1BA57Bw4ccJw4cYIpMTNLREdHJ9bW1sZyPXD//n1mny/6+/tVs0EmepybuBAiom3uAFjrtGnTpuHhw4cq9Ze2B+l0umSbzRbJ0aKurk6UlZV1aLXaYIvFMpHN8smTJ8jLy+t68+bNd4EImDp1Kh48eMCXPiUiiba6mtA3fLOYkwdKlYmIEhISkqqqqqJZGFdoHGlycnLQ2dnJBUx3e3t7u8Jo9QFGptxciwD4nog+cwfAThESGhqKgQF29MBXREREQkVFRXx2drZ0CDv4hg0b+pqbmzniKAm1HoVrtVq8eye51iARcdB57wmMGgDuRhgMhk+MRqP0hDs6OjjM9rW0tLBf+KQOvm6bPwAjNiFZuDY3NzetuLhYw1T8+vXr0Ov16O7uxtatW981NTU9E0IoSvHuYPyZ0EidmOWF6PV6nVuW7czLy5u0bdu2IKYmu3fv/uHKlSsMQnUx7c+JpTDKoerChQuBOIBm5syZn9TU1IRylq2srHQcPXrUmWXDli1blmo2m4M1Gg2TREdNTQ1n7V41glasWOEM8R7DqJTIOFkwF1K5KDMzU1dbWxseGRmJ+vp6sXfvXrZ3VwVDFixYoNu/f7+WS8WLFy9yJv5OTTLzl8g4ZFRxup43b54a/UnOslHOLFtYWNjucDi+93CIZvr06akWi2UC04nGxkZs3779dW9v7wslAm/evOmkOcOM1DUPcB9TDZmTZMbFxU2y2+0xnGUZvMFgeDEwMOArywalp6en2Gy2CG5oPXr0CAUFBd0dHR0+84NfMsfKCCFU0WmumYuLi3W5ublSll2/fv2/enp6mFb7WzRx4sQkq9UanZmZKdEDs9nM/MmrT7jQ6a+JaJisudcDkhmpKWjCwsLid+zYkXDkyBG+i+yYildUVFRifn5+rMVi8cmN1BQ0DKgOwBSj0Qir1apUmUiZuAWSZf1WdPn5+VLXzm9JKZsRd57Hqqj3e4NUFfXO04QQ/zNtFe7Qya2dJiL6jTtiX40tNqVwbi597H6ot8fAnRG5qcaNrbVE9EGd+//ZWnQxpfHb3JUdmp/Q+G2vu4AYHnBw0uGxUKBVmzd752jDoVLug/K2kQ84XIUJIX4lz8fGYsRURkR/9htj1U4phRCpMgipOcNDPu6f1tXVqR7yMbdZu3Yt8yDXIV+TPJHx21VzgvM7I/N0F+QO9pecsfl3rrxu374t9Xt43MpjVgbX0/NjzyoqKkpSMiMjw9eY1e7eeR71J+BmUs5B91J50K1VItBlD3cOeNDNc6uxHXS7KyqE4GEWv2rwMwCfyq8axHIilPdyIuIWOjdx+VWDvwH4OxH9OAkfwQrIhEYgb9QvHfcA/gO/6aheYEdUswAAAABJRU5ErkJggg=="); /*../images/delete_btn.png*/
  background-size: 100% 100%;
}

/***** 统一关闭按钮 *****/
