@charset "UTF-8";

// 选配订单
.salesDetails-container {
  margin-bottom: 100px;

  //头部
  .salesDetails-header {
    height: 100px;
    line-height: 100px;
    margin: 0 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    .iconfont {
      font-size: 30px;
      width: 30px;
      height: 29px;
      font-weight: 600;
      color: #848181;
    }
    .header-left, .header-right {
      width: 50px;
      > i {
        display: block;
        line-height: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0a0a0;
      }
    }
    > .header-title {
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #000000;
    }
  }

  > .commodity-information{
    margin: 0 36px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
    padding-bottom: 50px; 
    border-bottom: 1px solid #ddd;
    .title{
      padding: 20px 0;
    }
    img{
      width: 100%;
    }
    .text{
      .text{
        color: #656565;
        font-weight: normal;
        font-size: 30px;
      }
    }
  }
  
  // 商品配置
  > .commodity-allocation{
     margin: 0 36px;
     padding: 35px 0;
     border-bottom: 0.01333rem solid #ddd;
     .line{
      width: 100%;
      height: 35px;
      padding: 15px 0;
     }
     .text{
       font-size: 25px;
       display: inline-block;
     }
     .left{
       float: left;
     }
     .right{
      float: right;
    }
    .weight{
      font-weight: 600;
      font-size: 30px;
      // line-height: 30px;
    }
    .brown{
      color: #d5b17a;
      font-size: 30px;
    }
    .font{
      font-size: 25px;
    }
    .gray{
      margin-left: 15px;
      padding-bottom: 3px;
      font-size: 25px;
      color: #999999;
    }
     // 经销商
   > .distributor {
    padding-top: 20px;
    margin-bottom: 30px;
    // padding-bottom: 50px;
    // border-bottom: 1px solid rgba(0, 0, 0, .1);

    // 省 市
    > .province-select, > .city-select {
      position: relative;
      display: inline-block;
      height: 64px;
      width: 330px;
      line-height: 64px;
      padding: 0 60px 0 20px;
      margin-top: 20px;
      margin-right: 10px;
      border-radius: 5px;
      border: solid 2px #999999;
      // font-size: 22px;
      font-weight: 400;
      letter-spacing: 1px;
      box-sizing: border-box;
      
      > span {
        color: #b9b9b9;
        font-size: 24px;  
        @include multi-line-display(1);
      }

      > i {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 28px;
      }
    }
     // 店名 地址
     > .shop-select, > .address-select {
      position: relative;
      height: 64px;
      width: 670px;
      line-height: 64px;
      padding: 0 60px 0 20px;
      margin-top: 20px;
      margin-right: 10px;
      border-radius: 5px;
      border: solid 2px #999999;
      // font-size: 22px;
      font-weight: 400;
      letter-spacing: 1px;
      box-sizing: border-box;
      
      > span {
        color: #b9b9b9;
        font-size: 24px;  
        @include multi-line-display(1);
      }

      > i {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 28px;
      }
    }
    .city-select {
      margin-right: 0;
    }
    // 个人信息
    .personInfo {
      margin-top: 50px;
      >.personInfo-title {
        font-size: 30px;
        font-weight: 600;
      }
      >.personInfo-content {
        font-size: 24px;
        input:first-child {
          width: 400px;
          height: 65px;
          // border: 1px solid rgba(0, 0, 0, .2);
          border: solid 2px #999999;
          border-radius: 5px;
          margin: 30px 30px 25px 0; 
          font-size: 24px;
          color: #b9b9b9;
          background-color: #fff;
          padding-left: 20px;
        }
        input[type="radio"] {
          height: 24px;
          width: 24px;
          position: relative;
          top: 5px;
          margin-right: 5px;
          &:last-child {
            margin-left: 20px;
          }
        }
        input[type=radio]{
          height: 24px;
          width: 24px;
          border-radius: 50%;
          position: relative;
          top: 4px;
          margin-right: 5px;
          background-color: #fff;
          -webkit-appearance:none;
          border: 1px solid #9d9d9d;
          outline: none;
        }
        input[type=radio]:checked{
          background-color: #d3b07a;
          border: 1px solid #d3b07a;
        }
        input[type='number'] {
          width: 100%;
          margin: 0;
          padding-left: 20px;
        }
      }
     }
     // 试驾时间
     .driveDate {
        >.sel_date {
          input[type="text"] {
            width: 100%;
          } 
        }
     }

     // 计划购车时间
     .buryCarTime {
       >.buryCarTitle {
          font-size: 30px;
          font-weight: 600;
          display: inline-block;
        }
        ul {
          display: inline-block;
          li {
            float: left;
            font-size: 24px;
            font-weight: bolder;
            margin-right: 30px;
            input[type=radio]{
              height: 24px;
              width: 24px;
              border-radius: 50%;
              position: relative;
              top: 4px;
              margin-right: 5px;
              background-color: #fff;
              -webkit-appearance:none;
              border: 1px solid #9d9d9d;
              outline: none;
              }
              input[type=radio]:checked{
                background-color: #d3b07a;
                border: 1px solid #d3b07a;
             }
          }
        }
     }
     // 协议
     .protocol {
       margin-top: 50px;
       width: 100%;
       text-align: center;
       font-size: 24px;
       font-weight: bolder;
       position: relative;
       input[type=checkbox]{
        height: 24px;
        width: 24px;
        position: absolute;
        top: 5px;
        left: 2rem;
        background-color: #fff;
        -webkit-appearance:none;
        border: 1px solid #9d9d9d;
        border-radius: 2px;
        outline: none;
       }
       input[type=checkbox]:checked +label::before {
        position: absolute;
        top: 5px;
        left: 2rem;
        display: block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        content: "\2713";
        background-color: #d3b07a;
        border: 1px solid #d3b07a;
        font-size: 14px;
        color: #FFF;
       }
       b {
        font-weight: normal;
        transition: color .6s;
        color: #ceb181;
       }
     }

    // 搜索
    > .distributor-search {
      height: 64px;
      line-height: 64px;
      margin-top: 20px;

      > .edit {
        height: 64px;
        line-height: 64px;
        padding: 0 20px;
        border-radius: 5px;
        border: solid 2px #999999;
        letter-spacing: 1px;
        box-sizing: border-box;

        > input {
          display: block;
          width: 100%;
          // line-height: 60px;
          height: 30px;
          line-height: 30px;
          margin-top: 15px;
          border: none;
          font-size: 22px;
          font-weight: 400;
          color: #000000;
          box-sizing: border-box;
          @include multi-line-display(1);
        }
      }
      > .search-btn {
        width: 220px;
        height: 64px;
        line-height: 64px;
        margin-left: 20px;
        border-radius: 5px;
        text-align: center;
        background-color: #d3b07a;
        box-sizing: border-box;
        zoom: 1;

        > i {
          display: block;
          height: 64px;
          line-height: 64px;
          font-size: 30px;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }

    // 特约店
    > .special-shop-list {
      display: block;
      margin-top: 20px;

      > .shop-item {
        height: 40px;
        line-height: 40px;
        margin-top: 20px;

        > .icon {
          line-height: 40px;
          margin-right: 20px;

          > i {
            display: block;
            line-height: 40px;
            font-size: 30px;
            color: rgba(2, 2, 2, .1);
          }
        }
        > .name {
          font-size: 28px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 30px;
          letter-spacing: 1px;
          color: #000000;
        }

        &.checked {
          > .icon {
            > i {
              color: #d3b07a;
            }
          }
          > .name {
            color: #d3b07a;
          }

        }
      }
    }

    // 展开更多
    > .open-more {
      margin: 60px 40px 0 40px; // 100px
      text-align: center;
      font-size: 24px;
      letter-spacing: 1px;
      color: #d3b078;
    }
  }
  }
  > .test-drive-btn {
    width: 250px;
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
    text-align: center;
    font-size: 26px;
    background-color: #d3b078;
    color: #ffffff;
    margin: 30px 0 30px 40px;
    display: inline-block;
    position: relative;
    right: -1rem;
    > i {
      margin-right: 12px;
      font-size: 26px;
    }
  }
  > .footer{
    margin: 0 36px;
    display: block;
    margin-top: 50px;
    padding-bottom: 80px;
    .left{
      float: left;
      font-size: 30px;
      font-weight: 600;
      color: #999999;
      margin-left: 10px;
    }
    .leftActive{
      float: left;
      font-size: 30px;
      font-weight: 600;
      color: #d2b179;
      margin-left: 10px;
    }
    .right{
      float: right;
      font-size: 30px;
      font-weight: 600;
      color: #999999;
      margin-right: 10px;
    }
    .rightActive{
      float: right;
      font-size: 30px;
      font-weight: 600;
      color: #d2b179;
      margin-right: 10px;
    }
   
  }
  > .footer-line{
    width: 100%;
    height: 20px;
    background: #e5e5e5;
    margin-bottom: 40px;
  }
  .img{
    img{
      width: 100%;
    }
  }
  .footer-text{
    .title{
      color: #d1b27b;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .content{
      color: #333333;
      font-size: 20px;  
    }
  }
}
