@charset "UTF-8";

// 促销商品
.sales-activity {
  > .title {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 50px 0 40px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #000000;
  }

  > .activity-content{
    margin: 0 40px;
    border-top: 2px solid rgba(0, 0, 0, .1);
      .cardBox{
          .title{
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 25px 0 25px 0;
            text-align: left;
            font-size: 35px;
            font-weight: 600;
            letter-spacing: 4px;
            color: #000000;
            letter-spacing: -1px;
          }
          .card{
            margin-bottom: 25px;
            box-shadow: 2px 4px 5px 5px #f1f1f1;
          }
          .cardImg img{
            width: 100%;
          }
          .cardText{
            position: relative;
            padding: 0 15px;
            padding-bottom: 30px;
            .title{
            font-size: 35px;
            font-weight: 600;
            color: #000000;
            }
            p{
              font-size: 27px;
              font-weight: 500;
              color: #807e7e;
              i{
                font-size: 35px;
                font-style: normal;
                color: #e9c29a;
              }
            }
            .order-immediately {
              position: absolute;
              right: 10px;
              top: 35px;
              width: 257px;
              height: 65px;
              line-height: 65px;
              margin: 36px auto 0 auto;
              border: solid 2px #000000;
              border-radius: 32.5px;
              text-align: center;
              font-size: 22px;
              font-weight: 600;
              letter-spacing: 11px;
              color: #000000;
  
              > i {
                font-size: 22px;
                color: #000000;
              }
            }
          }
      }
   
  }
}

