// 默认好评
.default-praise-layer {
  width: 670px;
  // min-height: 420px;
  height: auto;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;

  .praise-content {
    position: relative;
    margin: 0;
    padding: 0;

    > .top-pic {
      position: absolute;
      left: 50%;
      top: -70px;
      width: 582px;
      height: 208px;
      margin-left: -291px;
      //noinspection CssUnknownTarget
      background-image: url("~/assets/images/center_common/praise_pop_top.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      > span {
        position: absolute;
        left: 50%;
        bottom: 55px;
        display: block;
        width: 356px;
        margin-left: -160px;
        border-radius: 3px;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        background-color: #d7b57f;
        color: #ffffff;
      }
    }
    > .praise-title {
      line-height: 50px;
      margin: 20px;
      padding: 180px 80px 72px 80px;
      //noinspection CssUnknownTarget
      background-image: url("~/assets/images/center_common/praise_pop_text_bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      text-align: center;
      font-size: 36px;
      letter-spacing: 5px;
      color: #333333;
    }
  }

  // 关闭按钮
  .close-btn {
    position: absolute;
    left: 50%;
    bottom: -180px;
    width: 100px;
    margin-left: -50px;
    text-align: center;

    > i {
      font-size: 74px;
      color: #ffffff;
    }
  }
}
