// 提示
.prompt-layer {
  width: 670px;
  min-height: 370px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background-color: #ffffff;

  .prompt-content {
    margin: 44px 0;
    > .prompt-title {
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 7px;
      color: #d3b078;
    }
    > .text {
      line-height: 40px;
      margin: 44px 110px 56px 110px;
      text-align: center;
      font-size: 26px;
      color: #333333;
    }
    > .close-btn {
      width: 280px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
      border: solid 2px #a0a0a0;
      border-radius: 35px;
      text-align: center;
      font-size: 24px;
      letter-spacing: 12px;
      color: #a0a0a0;

      > i{
        font-size: 26px;
        color: #a0a0a0;
      }
    }
  }
}
