// 注册
.register-layer {
  position: absolute !important;
  top: 9rem !important;
  background-color: #FFF !important;
  width: 670px;
  min-height: 800px;
  height: auto;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;

  &.register-next-layer{
    min-height: 690px;
  }

  .register-content {
    > .register-title {
      margin-top: 30px;
      text-align: center;
      font-size: 45px;
      letter-spacing: 5px;
      color: #000000;
    }

    > .register-group {
      margin: 0 50px;
      padding: 0;

      > .edit-group {
        height: 64px;
        line-height: 64px;
        padding-bottom: 10px;
        margin-top: 40px;
        border-bottom: 2px solid rgba(2, 2, 2, .1);
        padding: 0 15px;
        > .icon {
          display: block;
          height: 64px;
          line-height: 64px;
          margin-right: 30px;
          > i {
            font-size: 32px;
          }
        }
        > .edit-input {
          display: block;
          height: 64px;
          line-height: 64px;

          > input {
            display: block;
            width: 100%;
            // line-height: 64px;
            height: 40px;
            line-height: 40px;
            margin-top: 18.5px;
            font-size: 24px;
            color: #000000;
            @include multi-line-display(1);
          }
        }
        > .code-btn {
          width: 192px;
          height: 64px;
          line-height: 64px;
          // padding: 0 10px;
          border-radius: 32px;
          text-align: center;
          font-size: 20px;
          background-color: #CCCCCC;
          color: #ffffff;

          &.active {
            background-color: #d3b078;
          }
        }

        > .pic-code {
          display: block;
          width: 192px;
          height: 64px;
          border-radius: 32px;
          background-color: #d3b078;
        }
      }

      > .agreement-check {
        height: 30px;
        line-height: 30px;
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
        color: #1b1b1b;

        i {
          margin-right: 5px;
          font-size: 24px;
        }

        .agreement {
          font-weight: bolder;
        }

        .active {
          > i {
            color: #d3b07a
          }
        }
      }

      > .do-register {
        width: 510px;
        height: 70px;
        line-height: 70px;
        margin: 60px auto 0;
        // margin-top: 60px;
        border-radius: 35px;
        letter-spacing: 26px;
        text-align: center;
        font-size: 26px;
        background-color: #d3b078;
        color: #ffffff;
      }
    }

    > .login-tip {
      text-align: center;
      font-size: 22px;
      color: #1b1b1b;

      > span {
        font-size: 28px;
        font-weight: 600;
        color: #1b1b1b;
        border: 2px;
        border-bottom: 1px solid black;
      }
    }
  }

  // 关闭按钮
  .close-btn {
    position: absolute;
    left: 50%;
    bottom: -(54px + 74px);
    width: 100px;
    margin-left: -50px;
    text-align: center;

    > i {
      font-size: 74px;
      color: #ffffff;
    }
  }
}
