// 验证手机号
.verification-mobile-layer {
  width: 670px;
  min-height: 614px;
  height: auto;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;

  // 验证编辑
  .verification-content {
    > .verification-title {
      margin-top: 30px;
      text-align: center;
      font-size: 45px;
      letter-spacing: 5px;
      color: #000000;
    }

    > .verification-edit {
      margin: 0 80px;

      > .edit-group {
        position: relative;
        height: 64px;
        line-height: 64px;
        padding-bottom: 10px;
        margin-top: 50px;
        border-bottom: 2px solid rgba(2, 2, 2, .1);

        > .icon {
          display: block;
          height: 64px;
          line-height: 64px;
          margin-right: 30px;
          > i {
            font-size: 32px;
          }
        }
        > .edit-input {
          display: block;
          height: 64px;
          line-height: 64px;

          > input {
            display: block;
            width: 100%;
            // line-height: 64px;
            height: 40px;
            line-height: 40px;
            margin-top: 18.5px;
            font-size: 24px;
            color: #000000;
            @include multi-line-display(1);
          }
        }
        > .code-btn {
          width: 192px;
          height: 64px;
          line-height: 64px;
          // padding: 0 10px;
          border-radius: 32px;
          text-align: center;
          font-size: 20px;
          background-color: #CCCCCC;
          color: #ffffff;

          &.active {
            background-color: #d3b078;
          }
        }
      }

      .next-step-btn {
        width: 510px;
        height: 70px;
        line-height: 70px;
        margin-top: 84px;
        border-radius: 35px;
        letter-spacing: 26px;
        text-align: center;
        font-size: 26px;
        background-color: #d3b078;
        color: #ffffff;
      }
    }
  }

  // 关闭按钮
  .close-btn {
    position: absolute;
    left: 50%;
    bottom: -(54px + 74px);
    width: 100px;
    margin-left: -50px;
    text-align: center;

    > i {
      font-size: 74px;
      color: #ffffff;
    }
  }
}
