@charset "UTF-8";

// 活动广告轮播
.activity-swipe {
  &.mint-swipe {
    height: 1234px;

    .mint-swipe-items-wrap {
      height: 100%;
      .mint-swipe-item {
        > a {
          // display: block;

          > img {
            display: block;
            width: 100%;
            // height: auto;
            height: 100%;
          }
        }
      }
    }

    // 指示器
    .mint-swipe-indicators {
      height: 78px;
      line-height: 78px;
      background-color: transparent;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 78px;
        background-color: #3d3935;
        opacity: 0.4;
      }

      .mint-swipe-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 32px 20px;
        border: 2px solid #ffffff;
        border-radius: 7px;
        box-sizing: content-box;
        background-color: #ffffff;
        opacity: 1;

        &.is-active {
          width: 14px;
          height: 14px;
          margin: 30px 20px;
          border: 2px solid #ffffff;
          border-radius: 9px;
          background-color: transparent;
        }
      }
    }
  }
}

