@charset "UTF-8";

// 支付中提示
.pay-tip-layer {
  width: 670px;
  min-height: 360px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background-color: #ffffff;

  .pay-tip-content {
    margin: 44px 46px;
    > .pay-tip-title {
      text-align: left;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 7px;
      color: #d3b078;
    }
    > .text {
      line-height: 40px;
      margin: 44px 0 56px 0;
      text-align: left;
      font-size: 26px;
      color: #333333;
    }

    // 按钮组
    > .btn-group {
      // margin: 0 44px;

      > .btn-item {
        height: 70px;
        line-height: 70px;
        border-radius: 35px;
        text-align: center;
        font-size: 24px;

        &:first-child {
          margin-right: 20px;
          color: #ffffff;
          background-color: #d3b078;
        }
        &:last-child {
          border: solid 2px rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          color: #333333;
        }
      }
    }
  }
}
