@charset "UTF-8";

// 帮助中心详情页
.help-details-container {
  margin-bottom: 100px;

  // 头部
  > .help-details-header {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .header-left, .header-right {
      width: 110px;
      > i {
        display: block;
        line-height: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0a0a0;
      }
    }
    > .header-title {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 4px;
      color: #000000;
    }
  }

  // 内容区
  > .help-details-content {
    // margin-top: 30px;
    p {
      line-height: 40px;
      margin: 20px 20px 10px 20px;
      font-size: 24px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    h1{
      line-height: 80px;
      margin: 20px 20px 10px 20px;
      font-size: 38px;
      font-weight: 600;
    }

    h2 {
      line-height: 40px;
      border-left: 4px solid red;
      padding-left: 20px;
      margin: 40px 20px 10px 20px;
      font-size: 30px;
      font-weight: 600;
    }

    h3 {
      margin: 20px 20px 10px 20px;
      font-size: 26px;
    }
  }
}


