@charset "UTF-8";

// 帮助中心
.help-container {
  margin-bottom: 100px;

  // 头部
  > .help-header {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .header-left, .header-right {
      width: 110px;

      > i {
        display: block;
        line-height: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0a0a0;
      }
    }
    > .header-title {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 4px;
      color: #000000;
    }
  }

  // 内容区
  > .help-content {
    margin-top: 30px;

    > .help-list {
      margin: 0 40px;

      > .help-item {
        height: 94px;
        line-height: 94px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        > .main-icon {
          margin-right: 20px;
          font-size: 30px;
          font-weight: 600;
          color: #000000;
        }
        > .main-title {
          font-size: 30px;
          font-weight: 600;
          color: #000000;
        }
        > .help-title {
          padding-left: 50px;
          font-size: 26px;
          color: #000000;
        }
        > .icon {
          font-size: 20px;
          color: #000000;
        }
      }
    }
  }
}


