@charset "UTF-8";

// 头部
.details-header {
  //position: relative;
  height: 70px;
  line-height: 70px;
  padding: 15px 40px;
  background-color: #ffffff;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.09);
  // opacity: 0.9;

  position: fixed;
  top: 1.333rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1.3rem;

  > .exhibition {
    height: 70px;
    line-height: 70px;
    font-size: 26px;
    color: #000000;

    > i {
      margin-left: 12px;
      font-size: 26px;
    }
  }
  > .test-drive-btn {
    width: 180px;
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
    text-align: center;
    font-size: 26px;
    background-color: #d3b078;
    color: #ffffff;

    > i {
      margin-right: 12px;
      font-size: 26px;
    }
  }
  .test_zixun{
    .icon_zixun{
      
        margin-top:0.1rem;
        display: inline-block;
        margin-right:0.15rem;
        width:24px;
        height:26px;
        background:url('~/assets/images/home/icon_zixun_fff.png') no-repeat center 0.05rem ;
        background-size: 24px 23px;
      
    }
  }

  // 下拉菜单
  > .pop-menu {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-top: 1px solid rgba(2, 2, 2, .1);
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    z-index: 100;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 670px;
      height: 1px;
      margin-left: -335px;
      background-color: #000000;
      opacity: 0.1;
    }

    > .menu-item {
      font-size: 26px;
      letter-spacing: 3px;
      background-color: #ffffff;
      color: rgba(0, 0, 0, .6);
      //color: #000000;
      //opacity: 0.6;

      &:nth-child(1) {
        margin-left: 44px;
        text-align: center;
      }
      &:nth-child(2) {
        margin-right: 44px;
        // text-align: center;
        text-align: center;
      }
      //&:nth-child(3) {
      //  margin-right: 44px;
      //  text-align: right;
      //}
    }
  }
}
