@charset "UTF-8";

// 申请退款
.application-refunded-layer {
  width: 670px;
  //min-height: 528px;
  // min-height: 450px;
  // height: 700px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .application-refunded-content {
    margin: 0;
    padding: 60px 50px 52px 60px;
    .application-refunded-content-title{
      color:#A0A0A0;
      font-size:16px;
      text-align: center;
      +.application-refunded-content-title{
        margin-top:5px;
      }
    }
    // 编辑栏
    > .edit-line {
      margin: 30px 0 0 0;

      &:first-child {
        margin-top: 0;
      }

      > .edit-label {
        width: 2.8rem;
        height: 64px;
        line-height: 64px;
        //flex:0 0 83PX;
        font-size: 26px;
      }

      > .edit-select {
        position: relative;
        width: 250px;
        height: 64px;
        line-height: 64px;
        padding: 0 60px 0 20px;
        border-radius: 5px;
        border: solid 2px #999999;
        letter-spacing: 1px;
        box-sizing: border-box;

        > span {
          font-size: 22px;
          color: #000000;
          @include multi-line-display(1);
        }

        > i {
          position: absolute;
          top: 0;
          right: 30px;
          font-size: 28px;
        }
      }
      > .edit-input{
        position: relative;
        width: 250px;
        height: 64px;
        line-height: 64px;
        padding: 0 60px 0 20px;
        border-radius: 5px;
        border: solid 2px #999999;
        letter-spacing: 1px;
        box-sizing: border-box;
        font-size: 22px;
        color: #000000;
      }
      > .edit-textarea {
        max-width: 440px;
        position: relative;
        > textarea {
          display: block;
          width: 100%;
          height: 100px;
          line-height: 30px;
          padding: 10px;
          border: solid 2px #999999;
          border-radius: 5px;
          font-size: 22px;
          box-sizing: border-box;
        }
        .word {
      position: absolute;
      // right: .8rem;
      // top: 2.8rem;
      color: #999;
      font-size: .14rem;
    }
      }
    }

    // 查看规则
    > .to-rules {
      > .look-rule {
        margin-top: 20px;
        text-align: right;
        font-size: 20px;
        color: #D3B07A;

        > i {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }

    // 按钮
    > .save-btn {
      width: 300px;
      height: 70px;
      line-height: 70px;
      margin: 30px auto 0 auto;
      border-radius: 35px;
      text-align: center;
      font-size: 30px;
      letter-spacing: 12px;
      font-weight: 600;
      background-color: #D3B07A;
      color: #ffffff;

      > i {
        margin-right: 24px;
        font-size: 30px;
      }
    }

    // 提示信息
    > .refund-tip {
      line-height: 30px;
      margin-top: 30px;
      text-align: center;
      font-size: 20px;
      color: #A0A0A0;
    }
  }

  // 关闭按钮
  .close-btn {
    position: absolute;
    left: 50%;
    bottom: -140px;
    width: 100px;
    margin-left: -50px;
    text-align: center;

    > i {
      font-size: 74px;
      color: #ffffff;
    }
  }
}
