@charset "UTF-8";

// 评价列表
.evaluation-container {
  margin-bottom: 100px;
  color: #999999;

  //头部
  > .evaluation-header {
    height: 240px;
    line-height: 120px;
    font-size: 22px;
    padding: 0 40px;
    .header {
      width: 100%;
      height: 120px;
      font-size: 26px;
      border-bottom: 1px solid rgba(2, 2, 2, .1);
      .header-left {
        width: 300px;
        padding: 20px 0;
        .left{
          width: 113px;
          color: #e00101;
          font-weight: bold;
          font-size: 70px;
          line-height: 80px;
          padding-right: 30px;
        }
        .right{
          line-height: 40px;
          text-align: center;
          > .span {
            color: #333333;
          }
        }
        > .totalScore {
          > ul {
            li {
              margin: 2px;
              display: inline-block;
              > img{
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
      .header-right {
        padding: 20px 0;
        text-align: right;
        font-weight: 600;
      }
    }
    .header-container {
      width: 100%;
      text-align: center;
      height: 80px;
      padding: 20px 0;
      line-height: 40px;
      > .container-li{

      }
      > .score {
        > ul {
          li {
            margin: 2px;
            display: inline-block;
            > img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      > .container-li-right {
        width: 280px;
        > .span {
          >span {
            font-size: 28px;
            color: #e00101;
          }
        }
      }
      > .container-li-center {
        > .span {
          >span {
            font-size: 28px;
            color: #e00101;
          }
        }
      }
      > .container-li-left {
        width: 200px;
        > .span {
          >span {
            font-size: 28px;
            color: #e00101;
          }
        }
      }

    }
  }

  // 评价列表内容
  > .evaluation-lists {
    display: block;
    padding-top: 1px;
    zoom: 1;
    box-sizing: border-box;

    > .order-item {
      display: block;
      // height: 430px;
      padding: 0 40px;
      background-color: #ffffff;

      // 订单头
      > .item-header {
        height: 96px;
        line-height: 96px;
        border-top: 1px solid rgba(2, 2, 2, .1);

        > .order-no {
          font-size: 22px;
          letter-spacing: 1px;
        }
        > .order-state {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 2px;
          color: #d3b07a;
        }
      }

      // 订单内容
      > .item-content {
        min-height: 230px;
        padding-bottom: 10px;

        > .order-pic {
          position: relative;
          width: 230px;
          height: 210px;
          margin-right: 50px;

          > img {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            height: auto;
            transform: translateY(-50%);
          }
        }

        > .order-info {
          // padding-top: 40px;

          > .name {
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #000000;
            @include multi-line-display(1);
          }

          > .attribute-item {
            line-height: 40px;
            font-size: 24px;
            letter-spacing: 1px;
            color: #999999;
             > .attribute-item-one {
            height: 82px;
            line-height: 36px;
            font-size: 24px;
            letter-spacing: 1px;
            color: #999999;
            overflow: hidden;
            padding-bottom: 28px;
            @include multi-line-display(3);
          }
          > .attribute-item-two {
            // height: 200px;
            line-height: 30px;
            font-size: 24px;
            letter-spacing: 1px;
            color: #999999;
            padding-bottom: 28px;
            overflow: hidden;
          }
          > .sss {
            padding-left: 600px;
          }
            > span {
              width: 400px;
              // white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
         
          > .intention {
            line-height: 40px;
            margin-top: 16px;
            font-size: 24px;
            font-weight: 600;

            > .intention-left {
              width: 230px;
              > span {
                color: #e00101;
                font-size: 28px;
              }
            }
            > .list-score {
              > ul {
                display: inline-block;
                li {
                  margin: 2px;
                  display: inline-block;
                  > img{
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }

            > .intention-right {
              text-align: right;
            }

          }
        }
      }
    }
  }

  // 展开更多
  > .open-more {
    margin: 60px 40px 0 40px; // 100px
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: #d3b078;
  }
}


