@charset "utf-8";

.container {
  min-height: 400px;

  .error-page {
    @include view-content-center;
    margin-top: 80px;
    background-color: #ffffff;

    .img-404 {
      display: block;
      width: 270px;
      height: auto;
      margin: 200px auto 30px auto;
    }

    .icon-text {
      display: block;
      width: 320px;
      margin: 0 auto 30px auto;
      text-align: center;
      @include parent-clean;

      & > img {
        display: block;
        width: 30px;
        height: 41px;
        margin-right: 15px;
        margin-left: 5px;
        float: left;
      }

      & > span {
        display: block;
        height: 41px;
        line-height: 41px;
        font-size: 20px;
        color: #ff9920;
      }

      &:after {
        @include after-clean;
      }
    }

    .tip {
      width: 600px;
      margin: 0 auto 160px auto;
      font-size: 16px;
      color: #666666;
      text-align: center;
    }
  }

  .error-layer {
    width: 670px;
    min-height: 370px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    z-index: 110;

    .error-content {
      > .text {
        line-height: 40px;
        margin: 110px 10px 14px 10px;
        text-align: center;
        font-size: 36px;
        color: #333333;
      }

      .error-tip {
        line-height: 30px;
        text-align: center;
        font-size: 22px;
        color: #333333;
        opacity: 0.5;
      }

      .btn-back {
        width: 282px;
        height: 70px;
        line-height: 70px;
        margin: 60px auto 0 auto;
        border-radius: 35px;
        border: solid 2px #d3b078;
        background-color: #d3b078;

        > ._link {
          display: block;
          text-align: center;
          font-size: 24px;
          color: #ffffff;

          > i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .error-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    z-index: 100;
  }
}
