@charset "UTF-8";
// 首页
.home-container {
  margin-bottom: 100px;
}
.pop_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,.6);
}
img {
  width: 100%;
}
.show {
  width: 500px;
  height: 600px;
  position:fixed;
  bottom: 50%;
  right: 50%;
  margin-right: -250px;
  margin-bottom: -300px;
  border-radius: 0;
  z-index: 2000;
}
.img {
  width: 100%;
  height: 100%;
}
.hide {
  position: fixed;
  bottom: 300px;
  right: 0.01rem;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all .8s;
}
.iconHide {
  opacity: 0;
}
.iconShow {
  position: fixed;
  z-index: 10001;
  bottom:40px;
  right: 28px;
  width: 152px;
  height: 189px;
}
.contentShow {
  overflow:hidden;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 26px;
  position: relative;
  top: -124px;
  font-family: PingFangSC-Medium, sans-serif;
}
.contentShow span {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
}
.contentHide {
  overflow:hidden;
  width: 0;
  height: 0;
  transition: all .4s;
  font-size: .1rem;
}
.btnShow {
  width: 59.2px;
  height: 59.2px;
  position: absolute;
  top: -66.2px;
  right: 0;
  z-index: 999;
  cursor: pointer;
  opacity: 1;
}
.btnHide {
  width: 0;
  height: 0;
  position: absolute;
  top: -.2rem;
  right: -.2rem;
  opacity: 0;
  transition: all .4s;
}
.wrapShow {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,.6);
}
.wrapHide {
  position: fixed;
  bottom: 2rem;
  right: 0.01rem;
  width: 0;
  height: 0;
  opacity: 0;
  // border-radius: 50%;
}


