@charset "UTF-8";

// 车型配置
.model-configuration {
  // 360度展示
  > .show-360 {
    position: relative;
    height: 776px;
    //noinspection CssUnknownTarget
    background-image: url("~/assets/images/car_sale/bg-360_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    // 展期区域
    > .view-360{
      position: relative;
      width: 100%;
      height: 304px;
      background-color: transparent;
    }

    // 选项
    > .select-cads {
      position: absolute;
      left: 50%;
      bottom: 64px;
      width: 616px;
      height: 130px;
      margin-left: -308px;
      border-radius: 65px;
      background-color: #ffffff;
      box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.09);

      > .select-item {
        > .pic-label {
          position: relative;
          max-height: 98px;
          margin-top: 20px;
          padding-top: 70px;
          text-align: center;
          box-sizing: border-box;
          zoom: 1;

          > img {
            position: absolute;
            top: -34px;
            left: 50%;
            display: block;
            width: 246px;
            height: auto;
            margin-left: -123px;
            border-radius: 66px;
          }
          > p {
            line-height: 30px;
            font-size: 20px;
            color: #000000;
          }
        }

        &.active {
          background-color: #d3b078;
          border-top-left-radius: 65px;
          border-bottom-left-radius: 65px;
          // border-radius: 65px;
        }
      }
    }

    // 轮播选择
    .color-carouser {
      position: absolute;
      bottom: 65px;
      height: 180px;
      width: 100%;

      // 轮播
      > .swiper {
        height: 180px;
        > .swiper-wrapper {
          // 选项
          > .swiper-slide {
            position: relative;
            padding-top: 40px;

            > .select-cads {
              position: absolute;
              left: 50%;
              bottom: 64px;
              width: 616px;
              height: 130px;
              margin-left: -308px;
              border-radius: 65px;
              background-color: #ffffff;
              box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.09);

              > .select-item {
                > .pic-label {
                  position: relative;
                  max-height: 98px;
                  margin-top: 20px;
                  padding-top: 70px;
                  text-align: center;
                  box-sizing: border-box;
                  zoom: 1;

                  > img {
                    position: absolute;
                    top: -34px;
                    left: 50%;
                    display: block;
                    width: 246px;
                    height: auto;
                    margin-left: -123px;
                    border-radius: 66px;
                  }
                  > p {
                    line-height: 30px;
                    font-size: 20px;
                    color: #000000;
                  }
                }

                &.active {
                  background-color: #d3b078;
                  border-top-left-radius: 65px;
                  border-bottom-left-radius: 65px;
                  // border-radius: 65px;
                }
              }
            }

          }
        }
      }

      // 前进后退按钮
      .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: unset;
        bottom: 40px;
        width: 40px;
        height: 76px;
        line-height: 76px;
        border: 1px solid transparent; //自定义边框
        outline: none; //消除默认点击蓝色边框效果
        text-align: center;
        font-size: 40px;
        background-image: none;
        color: #b7bcbf;
      }
      .swiper-button-prev {
        left: 16px;
      }
      .swiper-button-next {
        right: 16px;
      }
    }
  }

  // 操作区
  > .operation-group {
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);;
    background-color: #ffffff;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.09);

    > .price {
      font-size: 20px;
      color: #000000;

      > span {
        font-size: 36px;
        color: #d3b078;
      }
    }
    > .op-btn {
      width: 280px;
      height: 70px;
      line-height: 70px;
      margin: 15px 0;
      border-radius: 35px;
      text-align: center;
      letter-spacing: 13px;
      font-size: 26px;
      color: #ffffff;
      background-color: #d3b078;

      > i {
        margin-right: 20px;
      }
    }
  }
}


