@charset "UTF-8";
// 支付
.pay-container {
  margin-bottom: 100px;

  // 订单信息
  > .order-information {
    // 图标
    > .pay-success-icon {
      display: block;
      width: 86px;
      height: 86px;
      margin: 56px auto 20px auto;
      border-radius: 100%;
      font-size: 86px;
      color: #d3b07a;
    }

    > .success-tip {
      display: block;
      text-align: center;
      font-size: 46px;
      color: #d3b078;
    }

    > .order-no {
      line-height: 30px;
      margin-top: 36px;
      text-align: center;
      font-size: 24px;
      color: #000000;

      > span {
        color: #d3b07a;
      }
    }

    > .order-tip {
      display: block;
      line-height: 30px;
      margin-top: 18px;
      text-align: center;
      font-size: 24px;
      color: #000000;
    }
  }

  // 车型图片
  > .car-pic {
    position: relative;
    margin-top: 24px;
    margin-bottom: 40px;

    > .logo {
      display: block;
      width: 510px;
      height: 100px;
      margin: 0 auto;
      z-index: 1;
    }

    > .main-pic {
      width: 556px;
      min-height: 312px;
      margin: -20px auto 0 auto;
      z-index: 10;

      > img {
        width: 100%;
        height: auto;
      }
    }
  }

  // 车型名称
  > .car-title {
    margin: 0 40px;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
  }

  // 选择的属性
  > .attribute-list {
    margin: 10px 40px;

    > .attribute-item {
      height: 100px;
      line-height: 100px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.08);

      > .left-content, > .bm-flex {
        font-size: 24px;
        font-weight: 400;
        color: #000000;
        @include multi-line-display(1);

        > span {
          display: inline-block;
          line-height: 100px;

          &:first-child {
            font-weight: 600;
          }
        }
      }
      > .left-content {
        min-width: 220px;
        margin-right: 10px;
      }
      > .order-details {
        font-size: 24px;
        color: #d3b078;
        > i {
          margin-left: 6px;
        }
      }
    }
  }

  // 应付金额
  > .amount-payable {
    margin: 0 40px;
    padding: 58px 0 26px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 24px;
    font-weight: 600;
    color: #000000;

    > span {
      &:first-child {
        font-size: 24px;
        color: #d3b07a;
      }
      &:last-child {
        font-size: 40px;
        color: #d3b07a;
      }
    }
  }

  // 支付方式
  .payment-method {
    margin: 0 40px;
    padding: 58px 0 26px 0;

    > .payment-label {
      font-size: 24px;
      font-weight: 600;
      color: #000000;
    }

    > .payment-select {
      margin-top: 38px;

      > .payment-item {
        position: relative;
        height: 72px;
        line-height: 72px;
        margin-right: 16px;
        border: solid 1px rgba(0, 0, 0, .1);
        font-size: 24px;
        color: #000000;
        box-sizing: border-box;
        zoom: 1;

        &:last-child {
          margin-right: 0;
        }

        > .pay-icon {
          width: 26px;
          height: 26px;
          margin: 25px 8px 0 38px;
        }

        // 三角形
        > .triangle {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-bottom: 40px solid #ffffff;
          border-left: 40px solid transparent;
          z-index: 10;
          display: none;
        }

        // 小图标
        > i {
          position: absolute;
          bottom: -24px;
          right: -1px;
          font-size: 10px;
          z-index: 20;
          color: #ffffff;
          display: none;
        }

        &.active {
          border: solid 2px #e20025;

          > .triangle {
            display: block;
            border-bottom: 40px solid #e20025;
          }
          > i {
            display: block;
          }
        }
      }
    }

  }

  // 立即支付
  .topay-btn {
    width: 650px;
    height: 90px;
    line-height: 90px;
    margin: 70px auto 0 auto;
    border-radius: 45px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 12px;
    color: #ffffff;
    background-color: #d3b078;

    > i {
      font-size: 26px;
      margin-right: 16px;
    }
  }

  // 退款规则
  .refunds-rule {
    width: 650px;
    height: 90px;
    line-height: 90px;
    margin: 30px auto 0 auto;
    border-radius: 45px;
    border: solid 2px #a0a0a0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 12px;
    color: #000000;
    box-sizing: border-box;
    opacity: 0.6;

    > i {
      font-size: 26px;
      margin-right: 16px;
    }
  }
}


