@charset "UTF-8";
// 支付成功
.success-container {
  margin-bottom: 100px;

  // 支付结果
  > .pay-result {
    margin: 0 80px;
    // 图标
    > .pay-success-icon {
      display: block;
      width: 110px;
      height: 110px;
      margin: 56px auto 60px auto;
      border-radius: 100%;
      font-size: 110px;
      color: #55d43e;
    }

    > .success-tip {
      display: block;
      text-align: center;
      font-size: 45px;
      color: #d3b078;
    }

    > .pay-tip {
      line-height: 36px;
      margin-top: 50px;
      text-align: center;
      font-size: 20px;
      color: #000000;
      padding: 0 17px;

      > span {
        font-size: 34px;
        color: #d3b078;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  // 问卷调查
  .questionnaire-btn {
    height: 70px;
    line-height: 70px;
    margin: 146px 40px 50px 40px;
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 12px;
    color: #fefefe;
    background-color: #d3b07a;
  }

  // 温馨提示
  .reminder {
    line-height: 36px;
    margin: 0 110px;
    text-align: center;
    font-size: 22px;
    color: #a0a0a0;
  }
}
.success-pay-loading {
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #d3b07a;
  font-size: 36px;
}


