@charset "UTF-8";

// 火热活动
.hot-activity {
  > .title {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 100px 0 40px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #000000;
  }

  > .activity-content{
    margin: 0 40px;
    border-top: 2px solid rgba(0, 0, 0, .1);

    > ._link{
      display: block;
      margin: 40px 0 0 0;

      > .activity-item{
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }
}

