@charset "UTF-8";
// 消息详情
.messageDetail-container {
  margin-bottom: 100px;

  // 头部
  > .message-header {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .header-left, .header-right {
      width: 110px;

      > i {
        display: block;
        line-height: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0a0a0;
      }
    }
    > .header-title {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 4px;
      color: #000000;
    }
  }
  // 具体的消息介绍
  > .message-detail {
    margin: 70px;
    font-size: 20px;
    width: 600px;
    height: 350px;
    border: 1px solid gray;
  }
}


