@charset "UTF-8";

// 卡券列表
.ticket-container {
  margin-bottom: 100px;

  //头部
  > .ticket-header {
    height: 120px;
    line-height: 120px;

    .header-left {
      width: 110px;
      margin-right: 130px;

      > i {
        display: block;
        line-height: 120px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #a0a0a0;
      }
    }
    > .header-right {
      border-radius: 8px;
      width: 200px;
      margin: 20px;
      line-height: 80px;
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 4px;
      color: #000000;
    }
    > .header-title {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 4px;
      color: #000000;
    }
  }

  // 选项卡
  > .ticket-tabs {
    height: 100px;
    line-height: 100px;
    margin: 0 40px;
    border-top: 1px solid rgba(0, 0, 0, .1);

    > .tab-item {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2px;
      color: #999999;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      &.active {
        color: #d3b07a;
      }
    }
  }

  // 卡券列表内容
  > .ticket-lists {
    display: block;
    padding-top: 1px;
    padding-bottom: 30px;
    background-color: rgba(2, 2, 2, .1);
    zoom: 1;
    box-sizing: border-box;
    background-color: #ffffff;

    > .ticket-item {
      margin: 20px;
      display: block;
      padding: 0 40px;

      // 卡券内容
      > .item-content {
        // background-image: url("~/assets/images/ticket/notUsed_ico.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 210px;
        padding-bottom: 10px;
        position: relative;

        > .ticket-pic {
          position: relative;
          width: 200px;
          margin: 30px 20px;
          font-size: 24px;
          text-align: center;
          color: #ffffff;

          > .top {
            margin-bottom: 15px;
            > span {
              padding-left: 25px;
              font-size: 60px;
              font-weight: bold;
            }
          }
          .top :before {
            content: '¥';
            position: absolute;
            left: 10px;
            top: 8px;
            font-size: 48px;
          }
          /*.top :after {
            content: '';
            position: absolute;
            right: -385px;
            bottom: -15px;
            width: 173px;
            height: 123px;
            background-image: url("~/assets/images/ticket/used_ico.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }*/
          > .bottom {
            padding-top: 20px;
            font-size: 24px;
          }
        }

        > .ticket-info {
          padding: 40px 0 0 20px;
          color: #000000;
          font-size: 28px;

          > .name {
            margin-bottom: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            @include multi-line-display(1);
          }

          > .attribute-item {
            line-height: 50px;
            font-size: 24px;
            letter-spacing: 1px;
            @include multi-line-display(1);

            > span {
              color: #999999;
            }
          }

          > .intention {
            line-height: 40px;
            margin-top: 70px;
            font-size: 22px;
            font-weight: 600;
            color: #999999;
            @include multi-line-display(1);
          }
        }

        > .cardMark {
          width: 180px;
          height: 140px;
          position: absolute;
          bottom: 10px;
          right: 0;
          background: no-repeat;
          background-size: 170px 120px
        }
        >.markType-overdue {
          background: url("~/assets/images/ticket/overdue_ico.png");
          background-size: 100% 100%;
        }
        >.markType-used {
          background-image: url("~/assets/images/ticket/used_ico.png");
        }
      }
      // 卡券和卡戳类型
      >.cardType-uptodate {  // cardType-unused
        background-image: url("~/assets/images/ticket/overdueAndUsed_ico.png");
        background-size: 100% 100%;
      }
      >.cardType-unused,
      >.cardType-used {
        background-image: url("~/assets/images/ticket/notUsed_ico.png");
        background-size: 100% 100%;
      }
      // > .markType-overdue {
      //   background-image: url("~/assets/images/ticket/overdue_ico.png");
      // }

    }
  }

  // 展开更多
  > .open-more {
    margin: 60px 40px 0 40px; // 100px
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: #d3b078;
  }
}


